.projects{
    margin-top:1rem; 
    text-align: center;
    margin: 0px;
    font-size: 40px;
    margin-top:5rem; 
    padding: 2rem; 
}
.project-heading{
    text-align: center;
    color:var(--orange);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:50px;  
   
}

.project-heading:hover{
    cursor:pointer;
    color:black
}

.credentials{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px 
}
.container{
  background-color:rgb(206, 241, 247);
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  width: 350px;
  height:300px ;
 
}

.row{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap:4rem;
  
}
 .img {
    height: 250px;
    display: block;
    border-radius: 5px;
    width: 100%;
    object-fit: contain;

  }
  .heading-2{
    text-align: center;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px; 
    margin-top: -30px; 
}
  .buttons{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap:15px;
    padding: 10px;
  }
  button{
    background-color:rgb(51, 197, 51);
  border-radius: 20px;
  color: aliceblue;
  }
  @media screen and (max-width: 480px) {
    .projects{
        margin-top:1rem; 
      height: auto;  
      padding: 1rem; 
    }
    .credentials{
        margin: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:20px 
    }
    .container{
      transform: scale(0.9);
    }
    .row{
      gap:1rem;
      
    }
  }