 .Home{
  display:flex;
  height :70vh;
  margin-top:6rem;  
  padding: 2rem;
 }
 .h-left{

    position: realtive;
    flex:1;
    flex-direction:column;
    gap :2rem;
  
 }
 .h-name{
   align-items: center;
    display:flex;
    flex-direction:column;
 }
 .h-name>:nth-child(1){
   color:var(--black);
  font-weight:bold ;
  font-size:6em;

 }
 .h-name>:nth-child(2){
   color: var(--orange);
   font-weight: bold;
   font-size:4rem;
 }
 .h-name>:nth-child(3){
   color: var(--black);
   font-weight: bold;
   font-size:4rem;
 }
.h-icons{
   margin:1rem;
   display:flex;
   gap:1rem;
   flex-direction: row;
}
.h-icons>:nth-child(1){
   padding-top: 10px;
   transform:scale(1.6);
}
.h-icons>*:hover{
   cursor:pointer
}
.button resume-download{
   width: 8rem;
  height: 3rem;
  align-items: center;
}






@media screen and (max-width: 480px) {
   .Home{
      margin-top:-50px; 
      display: flex; 
      flex-direction:column;
      height: 100vh;

   }
    
      
   
   .h-left{
padding: 5rem;
   }
 
}
