.footer-main{
    padding: 2rem;
    background-color: var(--bg-dark-secondary);
    margin: 0;
    padding: 0;
    height:20vh;
    margin:-0.5rem -3.5rem;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.details{
    text-align: center;
    padding: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    color:#F8FAFC;
    transition: color 0.3s ease;
}
@media screen and (max-width: 480px) {
    .footer-main{
width:30rem;
    }
    .details{
     transform: scale(0.8);
     font-size:20px;  
     text-align: center;
    }
}