.navbar{
    margin: 0px;
    padding: 0px;
    position:fixed !important;
    height : 10vh;
    width: 100vw;
    display : flex;
    margin-bottom: 2rem;
    top: 0;
    gap:40rem;
    background-color:var(--bg-dark-secondary);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}
.navbar-left{
    align-items: center;
    display:flex;
    justify-content:left;
    gap:3rem;
    margin-left: 50px;
}

.navbar-name{
    font-size:1.3rem;
    font-weight:bold;
}
.navbar-right{
    display:flex;
    flex:1;
    align-items: center;
    justify-content:flex-end;
    font-weight: 400;
    gap:3rem;
    font-weight: bold;
    font-size:1rem;
}
.navbar-list{
    flex:5;
}

.navbar-list >ul{
display:flex;
gap: 3rem;
margin-right:4rem;
cursor:pointer;

}

.nav-items:hover{
  cursor:pointer;
  transform: translateY(-5px);
  color: var(--accent-blue) !important;
  transition: all 0.3s ease;
}
@media screen and (max-width: 480px) {
    .navbar{
        position: fixed;
        display : flex;
        top: 0;
        gap:1rem;
        bottom: 0;
        padding: 0;
        padding-top: 5px;
        justify-content: center;
        width: 100vw;
        height: 3rem;
    }
    .navbar-left{
        flex:1;
        align-items: center;
        display:flex;
        justify-content:left;
        gap:1.5rem;
    }
    .navbar-right{
        display:flex;
        flex:1;
        align-items: center;
        justify-content:flex-end;
        font-weight: 400;
        gap:2rem;
        font-weight: bold;
        font-size:0.8rem;
    }
    .navbar-list >ul{
        display:flex;
        gap: 0.3rem;
        margin-right:4rem;
      
        }
        .navbar-name{
            padding-left: 2rem;
            font-size:0.8rem;
            font-weight:bold;
        }
        .navbar-list>ul>*{
            padding-left: 0.1rem;
        }
  }